{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}

<div class="wrapper">
    <div class="section">
        <div class="hits">
            <div class="hits-title">Хиты продаж</div>
            <div class="cards">
                {% for hit in hits %}
                <div class="card">
                    <img src="{{ hit.img.url }}" alt="Ошибка загрузки изображения">
                    <div class="name">{{ hit.name }}</div>
                    <div class="prices">
                        <div class="oldprice">{{ hit.old_price }} р.</div>
                        <div class="price">
                            <div class="number">
                                {{ hit.wholesale_price }} р.
                            </div>
                            <div class="text">
                                /шт
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="products/{{ hit.id }}" class="more">
                            Подробнее
                        </a>
                        <div class="in-basket put_in_basket" product_id="{{ hit.id }}">
                            В корзину
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="categories">
            <div class="categories-title">Категории</div>
            <div class="category-cards">
                {% for category in categories %}
                <a href="categories/{{ category.id }}" class="category-card">
                    <div class="name">
                        <div>
                            {{ category.name }}
                        </div>
                    </div>
                    <img src="{{ category.img.url }}" alt="">
                </a>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>



{% endblock %}