{% load static %}
<div class="wrapper wrapper-consultation">
    <div class="section section-consultation">
        <div class="consultation-text-side">
            <div class="hello-text__side">
                <div class="hello-text__wrapper">
                    <h1>Военное снаряжение и экипировка оптом</h1>
                    <h2>Поможем Вам закрыть любой тендер или закупку по пошиву одежды, спальных мешков и других товаров в данной тематике.</h2>
                </div>
                <div class="hello-text__side__btn consultation-popup-open-btn">
                    <span>Получить консультацию</span>
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                </div>
            </div>
        </div>
        <div class="consultation-img-side">
            <img src="https://cdn.pixabay.com/photo/2025/03/18/17/03/dog-9478487_1280.jpg" alt="">
        </div>
    </div>
    
    <div class="arrow-down">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14" />
            <path d="M18 13l-6 6" />
            <path d="M6 13l6 6" />
        </svg>
    </div>
</div>


