{% load static %}
<div class="wrapper wrapper-consultation">
    <div class="section section-consultation">
        <div class="consultation-img">
            <!-- <img src="{% static '/main/media/contact_us/contact_us_element.png' %}" alt=""> -->
            <div class="hello-text__side">
                <div class="hello-text__wrapper">
                    <h1>Военное снаряжение и экипировка оптом и в розницу</h1>
                    <h2>Поможем Вам закрыть любой тендер или закупку по пошиву одежды, спальных мешков и других товаров в данной тематике.</h2>
                </div>
            </div>
        </div>
        <form class="consultation-form" action="{% url 'consultation' %}" method="post">
            {% csrf_token %}
            <h3>Получите консультацию по телефону</h3>
            <input type="text" name="phone" placeholder="Укажите свой номер телефона">
            <button type="submit" name="" id="" onclick="ym(94231080,'reachGoal','consul'); return true;">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
            <p class="help-text">Специалист быстро перезвонит, подробно проконсультирует и ответит на все вопросы</p>
        </form>
    </div>
    
    <div class="arrow-down">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14" />
            <path d="M18 13l-6 6" />
            <path d="M6 13l6 6" />
        </svg>
    </div>
</div>