{% load static %}
<div class="wrapper wrapper-consultation">
    <div class="section section-consultation">
        <div class="consultation-img">
            <!-- <img src="{% static '/main/media/contact_us/contact_us_element.png' %}" alt=""> -->
            <div class="hello-text__side">
                <div class="hello-text__wrapper">
                    <h1>Военное снаряжение и экипировка оптом и в розницу</h1>
                    <h2>Поможем Вам закрыть любой тендер или закупку по пошиву одежды, спальных мешков и других товаров в данной тематике.</h2>
                </div>
                <div class="hello-address">
                    <div class="hello-address__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                            <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                        </svg>
                    </div>
                    <div class="hello-address__text">
                        <p>г. Москва</p>
                        <p>ул. Краснобогатырская 6, стр. 8</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="consultation-form" id="index-page-form" action="{% url 'consultation' %}" method="post" onsubmit="ym(94231080,'reachGoal','consul'); return true;">
            {% csrf_token %}
            <h3>Получите консультацию по телефону</h3>
            <input type="tel" id="index-form-phone" name="phone"  placeholder="Укажите свой номер телефона" required>
            <p class="OPD"><input type="checkbox" class="OPD__input" id="OPD_hello" required><label for="OPD_hello">Я прочитал(-а) и принимаю <a href="/polzovatelskoe_soglashenie">пользовательское соглашение</a> с конечным пользователем</label></p>
            <!-- pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}" -->
            <button type="submit" >ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
            <p class="help-text">Специалист быстро перезвонит, подробно проконсультирует и ответит на все вопросы</p>
        </form>
    </div>
    
    <div class="arrow-down">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14" />
            <path d="M18 13l-6 6" />
            <path d="M6 13l6 6" />
        </svg>
    </div>
</div>
