{% load static %}
<div class="wrapper wrapper-contact-us">
    <div class="section section-contact-us">
        <div class="contact-us-img">
            <img src="{% static '/main/media/contact_us/contact_us_element.png' %}" alt="">
        </div>
        <form class="contact-us-form" action="{% url 'question' %}" method="post" onsumbit="ym(94231080,'reachGoal','consul'); return true;">
            {% csrf_token %}
            <h3>Оставьте заявку<br>и мы с Вами свяжемся</h3>
            <input type="text" name="name" placeholder="Ваше ФИО или название организации">
            <input type="tel" name="contacts" placeholder="Укажите Ваш номер телефона" required>
            <textarea name="text" rows="6" placeholder="Напишите что бы Вы хотели узнать или уточнить?"></textarea>
            <p class="OPD"><input type="checkbox" class="OPD__input" id="OPD_hello" checked required><label for="OPD_hello">Я согласен c <a href="/polzovatelskoe_soglashenie">пользовательским соглашением</a></label></p>
            <button type="submit">ОТПРАВИТЬ</button>
        </form>
    </div>
</div>
