<div class="wrapper wrapper-numbers">
    <div class="section section-numbers">
        <div class="numbers">
            <div class="title">РЕЗУЛЬТАТЫ В ЦИФРАХ</div>
            <hr class="arma-hr">
            <div class="numbers-and-image-side">
                <div class="numbers-side">
                    <div class="item">
                        <div class="bignum">
                            6
                        </div>
                        <div class="subsection">
                            <div class="bigtext">
                                лет
                            </div>
                            <div class="des">
                                Мы стартовали в 2019 году в самый разгар пандемии и все время развиваемся
                            </div>
                        </div>
                    </div>
                    <hr class="arma-hr">
                    <div class="item">
                        <div class="bignum">
                            742
                        </div>
                        <div class="subsection">
                            <div class="bigtext">
                                проекта
                            </div>
                            <div class="des">
                                Реализованных проектов с 2019 по 2024 год
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-side image-side-right">
                    <img src="../../static/main/media/numbers/first.png" alt="">
                </div>
            </div>
            <hr class="arma-hr">
            <div class="numbers-and-image-side">
                <div class="image-side">
                    <img src="../../static/main/media/numbers/second.png" alt="">
                </div>
                <div class="numbers-side image-side-left">
                    <div class="item">
                        <div class="bignum">
                            150
                        </div>
                        <div class="subsection">
                            <div class="bigtext">
                                контрактов
                            </div>
                            <div class="des"> 
                                Лишь за 2024 год мы выполнили более 150 государственных контрактов от Камчатки до Калининграда
                            </div>
                        </div>
                    </div>
                    <hr class="arma-hr">
                    <div class="item">
                        <div class="bignum">
                            200
                        </div>
                        <div class="subsection">
                            <div class="bigtext">
                                человек
                            </div>
                            <div class="des">
                                Из них более 135 швей
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="arma-hr">
            <a href="/shop" class="button">
                <div class="text">
                    ПЕРЕЙТИ В КАТАЛОГ
                </div>
                <div class="icon">
                    <img src="../../static/main/media/numbers/arrow.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</div>