a {
    color: var(--white);
    text-decoration: none;
}


.footer {
    box-shadow: inset 0px 6px 8px black;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-sides {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-side-contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.footer-side-columns {
    width: 80%;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.footer-column {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.footer-text-title {
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}
.footer-text-link {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.footer-text-link:hover {
    color: var(--light-red)
}
.footer-text {
    width: 80%;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
    cursor: default;
}
.smrk {
    cursor: pointer;
}
.smrk svg {
    fill: var(--white);
    width: 34px;
    height: 14px;
}