.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
}
.section {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.notfound-code {
    font-size: 54px;
    font-weight: 800;
}
.notfound-text {
    font-size: 18px;
    font-weight: 600;
}

.shop-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
}
.shop-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 12px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    gap: 4px;
}
.shop-nav-link-svg {
    fill: var(--white);
    width: 18px;
    height: 18px;
}
.shop-nav-link-text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}


.hits {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-bottom: 80px;
}
.hits-title {
    font-size: 36px;
    font-weight: 800;
    color: var(--red);
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
}
.card {
    display: flex;
    width: 225px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 12px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 4px #00000050;
    transition: all 0.2s;
}
.card:hover {
    /* background-color: #ffffff92; */
    transform: scale(1.02);
    box-shadow: 0 0 12px #0000002c;
}
/* .card:hover img {
    transform: scale(1.03);
} */
.card img {
    width: 200px;
    height: 200px;
    transition: all 0.2s;
}
.name {
    color: var(--green);
    font-weight: 500;
    font-size: 20px;
}
.prices {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.oldprice {
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: line-through;
}
.price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.price .number {
    color: var(--red);
    font-weight: 600;
    font-size: 32px;
}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.buttons .more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    width: 50%;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.buttons .in-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    width: 50%;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}




.categories {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 34px;
    flex-direction: column;
}
.categories-title {
    font-size: 36px;
    font-weight: 800;
}
.category-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
}
.category-card {
    position: relative;
    width: 350px;
    height: 220px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 4px #00000042;
    cursor: pointer;
    transition: all 0.2s;
}
.category-card:hover {
    background-color: #ffffff92;
    box-shadow: 0 0 8px #0000002c;
}
.category-card:hover img {
    transform: scale(1.05);
}
.category-card img {
    transition: all 0.2s;
    margin-left: 120px;
    margin-top: -25px;
    width: 250px;
    height: 250px;
}
.category-card .name {
    position: absolute;
    font-weight: 600;
    padding: 12px;
    bottom: 0;
    left: 0;
    color: var(--black);
}
.category-card .name div {
    width: 100px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.products-title {
    font-size: 36px;
    font-weight: 800;
}



.product {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 80px;
}
.image {
    width: 50%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-image {
    /* width: 500px;
    height: 500px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image img {
    /* width: 500px; */
    /* height: 500px; */
    width: 80%;
}
.other-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
.other-images img {
    border-radius: 8px;
    border: 1px solid #00000042;
    width: 50px;
    height: 50px;
    
    cursor: pointer;
}


.details {
    margin-top: 50px;
    min-width: 300px;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}
.details .name {
    font-size: 32px;
    font-weight: 600;
    color: var(--black);
}
.prices {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.price-type {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 4px;
}

.details .in-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    width: 80px;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}


.yt-video {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yt-video iframe {
    width: 100%;
    height: 100%;
}

.comments {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}
.comment-side-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-side-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.comment-side-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
}
.comment-side-text .name {
    font-weight: 600;
    font-size: 15px;
}
.comment-side-text .text {
    font-weight: 400;
    font-size: 16px;
}
.comment-side-text .date {
    font-weight: 500;
    font-size: 14px;
    color: #000000a0;
}

.form-section {
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    flex-direction: column;
}
.errors-text {
    padding: 20px 0;
    color: var(--red);
}
.form {
    width: 50%;
    padding: 40px 80px;
    background-color: var(--trans-green);
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
.form .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form label {
    font-size: 14px;
    font-weight: 500;
}
.form input {
    width: 94.5%;
    height: 30px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    border: none;
}
.form textarea {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border-radius: 16px;
    border: none;
    resize: vertical;
}
.button-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.form .button-div button {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto 0;
    gap: 8px;
    padding: 12px 24px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    cursor: default;
}
table caption {
    font-size: 22px;
    margin-bottom: 20px;
}
th:first-child, td:first-child {
    border: none;
}
th, td {
    font-size: 16px;
    word-break: break-all;
    border-left: 1px solid black;
}
tfoot td, tfoot th {
    border: none;
}
td {
    text-align: center;
}
td img {
    width: 60%;
    height: 60%;
}
tbody tr:nth-child(odd) {
    background-color: #e5e5e5;
}
  
tbody tr:nth-child(even) {
    background-color: #dadada;
}
.table-count {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-count-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #00000000;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}
.table-count-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--black);
    z-index: 9;
}
.table-count-input {
    padding: 2px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: #00000000;
}
.basket_empty {
    padding: 200px 0;
}
@media (max-width: 600px) {
    th, td {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    th, td {
        font-size: 12px;
    }
}