{% load static %}
{% load filters %}

<div class="product-card {% if product|product_has_options %}product-card_with-options{% endif %} {% if product.retail_price == 0 %}product-card_null-price{% endif %}">
    <img class="product-card-image" src="{{ product.img.url }}" alt="">
    {% if product.discount != 0 %}
        <div class="product-card-discount {% if product.discount >= 50 %}product-card-discount-red{% endif %}">
            <span>- {{ product.discount }}%</span>
        </div>
    {% endif %}
    {% if product.new %}
        <div class="product-card-new">
            <span>НОВИНКА</span>
        </div>
    {% endif %}
    <div class="product-card-title">{{ product.name }}</div>
    <div class="product-card-price-row">
        {% if product.retail_price > 0 %}
            <div class="product-card-price">
                <span class="product-card-r-price">{{ product.retail_price }} ₽</span>
                <span>за 1 {{ product.unit }}</span>
            </div>
            {% if product.discount != 0 %}
            <span class="product-card-old-price">
                {{ product.old_price }} ₽
            </span>
            {% endif %}
        {% else %}
            <div class="product-card-price">
                <span>Цена договорная</span>
                <span></span>
            </div>
        {% endif %}
    </div> 
    {% if product|product_has_options %}
    <div class="dropdown__menu">
        <button class="dropdown__button">
            <div class="dropdown__button__text">{{ product|get_product_first_option }}</div>
            <div class="dropdown__button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 10l6 6l6 -6h-12" />
                </svg>
            </div>
        </button>
        <div class="dropdown__list">
            {% for option in product|get_product_options %}
            <div class="dropdown__list__item" r-price="{{ option.retail_price }}" o-price="{{ product.discount }}">{{ option.name }} {{ option.value }}</div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="dropdown__menu">
        <button class="dropdown__button">
            <div class="dropdown__button__text">У продукта нет опций</div>
    </div>
    {% endif %}
    <div class="product-card-buttons-row">
        <a href="/shop/products/{{ product.id }}" class="product-card-buttons-about">Подробнее</a>
        <button class="product-card-buttons-in-basket put_in_basket-category-page {% if product|queryset_have_this_product:request.products_in_basket %}product-card-buttons-in-basket-active{% endif %}" product-id="{{ product.id }}" min-unit="{{ product.min_unit }}">
            {% if product|queryset_have_this_product:request.products_in_basket %}
            В корзине
            {% else %}
            В корзину
            {% endif %}
        </button>
    </div>
</div>