{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="basket-section">
            {% if basket_not_empty %} 
                <table cellpadding="10">
                    <caption>Корзина</caption>
                    <thead>
                      <tr>
                        <th scope="col">Изображение</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Оптовая цена</th>
                        <th scope="col">Розничная цена(в рублях)</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Итого</th>
                      </tr>
                    </thead>
                    <tbody id="products">
                        {% for product in basket %}
                        <tr id="product">
                            <td><img src="{{ product.img.url }}" alt=""></td>
                            <td product_id="{{ product.id }}">{{ product.name }}</th>
                            <td id="price1">{{ product.wholesale_price }}</td>
                            <td id="price2">{{ product.retail_price }}</td>
                            <td id="count" class="count">
                                <div class="table-count">
                                    <button class="table-count-btn table-count-btn-inc">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7Zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8Z"/>
                                        </svg>
                                    </button>
                                    <input id="table-count-btn-input" class="table-count-input" type="text" value="1" onchange="calculateTable()">
                                    <button class="table-count-btn table-count-btn-dec">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M7 11v2h10v-2H7Zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8Z"/>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                            <td id="summ">100</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th scope="row">Итоговая сумма</th>
                        <th id="all_summ"></th>
                      </tr>
                    </tfoot>
                  </table>
            {% else %}
            <div class="basket_empty">
                {% if errors %}
                <div class="errors-text">
                    <div>Перейдите в корзину и исправьте данные ошибки:</div> <br>
                    {% for error in errors_text %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                Ваша корзина пуста
                {% endif %}
            </div>
            {% endif %}
        </div>
        
        {% if basket_not_empty %}
        <div class="form-section">
            
            <form class="form" action="{% url 'basket_is_ready' %}" method="post">
                {% csrf_token %}
                
                <label>Ваше ФИО</label>
                <input name="name" type="text">
                <label>Ваши контактные данные</label>
                <input name="contacts" type="text">
                <input name="successful_basket" type="hidden" id="successful_basket" value="">
                <input type="hidden" name="summ" id="successful_basket_summ" value="">
                <div class="button-div">
                    <button type="submit">Отправить заявку</button>
                </div>
                
            </form>
        </div>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        calculateTable();


        const incBtns = document.querySelectorAll('.table-count-btn-inc');
        const decBtns = document.querySelectorAll('.table-count-btn-dec');

        incBtns.forEach(btn => {
        btn.addEventListener('click', e => {
            const input = e.target.parentNode.parentNode.parentNode.querySelector('#table-count-btn-input');
            const currentValue = parseInt(input.value);
            input.value = currentValue + 1;
            calculateTable();
        });
        });

        decBtns.forEach(btn => {
        btn.addEventListener('click', e => {
            const input = e.target.parentNode.parentNode.parentNode.parentNode.querySelector('#table-count-btn-input');
            const currentValue = parseInt(input.value);
            if(currentValue > 0) {
                input.value = currentValue - 1;
            }
            calculateTable();
        });
        });


    })
    function deleteProduct(elem) {
        var result = confirm("Вы уверены, что хотите удалить этот товар из корзины?");
        if (result) {
            elem.remove();
            return true;
        } else {
            return false;
        }
    }
    function calculateTable() {
        let basket = {};
        // if (localStorage.getItem("basket")) {
        //     basket = JSON.parse(localStorage.getItem("basket"));
        // }
        summ = 0
        products = document.getElementById("products")
        for(var i=0; i<products.rows.length; i++) {
            product = products.rows[i]
            id = product.cells[1].getAttribute("product_id")
            price1 = product.cells[2].innerHTML
            price2 = product.cells[3].innerHTML
            count = product.cells[4].querySelector("#table-count-btn-input").value
            if (count < 1) {
                res = deleteProduct(products.rows[i])
                if (!res) {
                    product.cells[4].querySelector("#table-count-btn-input").value = 1;
                    count = 1;
                } else {
                    calculateTable()
                }
            }
            basket[id] = count;
            // КОНСТАНТА ПО СКИДКАМ СЕЙЧАС РАВНА 100
            if (count < 100) {
                product.cells[5].innerHTML = count * price2
            } else {
                product.cells[5].innerHTML = count * price1
            }
            summ += parseInt(product.cells[5].innerHTML)
        };
        console.log(basket)
        document.getElementById("all_summ").innerHTML = summ
        localStorage.setItem("basket", JSON.stringify(basket));
        document.getElementById("successful_basket").value = JSON.stringify(basket);
        document.getElementById("successful_basket_summ").value = summ
        document.getElementById("basket-data").value = localStorage.getItem("basket");
    }
</script>
{% endblock %}