{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="section">
        <div class="shop-nav">
            <a href="/shop/" class="shop-nav-link">
                <svg class="shop-nav-link-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
                    <path d="M15.65 3.299 14.1 1.75 5.35 10.5l8.75 8.75 1.55-1.549L8.447 10.5l7.201-7.201Z"/>
                </svg>
                <div class="shop-nav-link-text">
                    К категориям
                </div>
            </a>
        </div>
        <div class="products">
            <div class="products-title">{{ category.name }}</div>
            <div class="cards">
                {% for product in products %}
                <div class="card">
                    <img src="{{ product.img.url }}" alt="Ошибка загрузки изображения">
                    <div class="name">{{ product.name }}</div>
                    <div class="prices">
                        <div class="oldprice">{{ product.old_price }} р.</div>
                        <div class="price">
                            <div class="number">
                                {{ product.wholesale_price }} р.
                            </div>
                            <div class="text">
                                /шт
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="/shop/products/{{ product.id }}" class="more">
                            Подробнее
                        </a>
                        <div class="in-basket put_in_basket" product_id="{{ product.id }}">
                            В корзину
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}