.wrapper-search-page {
    padding-top: 60px;
}
.section-search-page {
    padding: 20px 0;
}

.wrapper-backto {
    padding-top: 60px;
    background-color: #F1F1F1;
}
.section-backto {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
    padding: 24px 0;
    flex-wrap: wrap;
}
.backto {
    display: flex;
    padding-left: 12px;
    gap: 12px;
    color: black;
    border: 2px #828282 solid;
}
.backto p {
    font-weight: 500;
    margin: 8px;
}
.backto div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    background-color: #828282;
}
.backto img {
    width: 100%;
    height: 100%;
}
.backto:hover {
    border: 2px #85AB3A solid;
}
.backto:hover div:last-child {
    background-color: #85AB3A;
}




.wrapper-categories {
    background-color: #F1F1F1;
}
.section-categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    justify-items: center;
    grid-auto-rows: 350px;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}
.categories-card {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 0 1 calc(25% - 30px);
}
.categories .img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../cat-bg.png"); */
    background-size: cover;
    width: 310px;
    height: 310px;
    object-fit: contain;
}
.categories .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.categories-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: #465F30;
    font-size: 32px;
}
.categories-text a {
    color: #465F30;
    font-size: 16px;
}
.categories-text a:hover {
    color: #B4C7A4;
}
.categories-card .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: black;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
}
/* .categories-card .name div:first-child {
    white-space: nowrap;
} */



.wrapper-category {
    background-color: #F1F1F1;
}
.section-category {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}
.category-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: #465F30;
    font-size: 32px;
}







.section-product {
    padding-bottom: 50px;
}
.base-hr {
    border: 1px #c4c4c4 solid;
    margin: 38px 0;
}
.product-sides {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
}
.product-sides:first-child .product-side:first-child {
    width: 50%;
}
.product-sides:first-child .product-side:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.product-sides:last-child .product-side:first-child {
    width: 40%;
}
.product-sides:last-child .product-side:last-child {
    width: 60%;
}
.main-image {
    width: 100%;
    height: 70vh;
}
.main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.other-images {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    padding: 10px 0;
}
.other-images img {
    width: 15%;
    height: 15vh;
    cursor: pointer;
    object-fit: contain;
}


.product-sides:last-child .product-side:last-child {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.product-side .title {
    font-size: 32px;
    font-weight: 500;
}
.product-side .prices {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.product-side .price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-side .price div:first-child {
    font-size: 16px;
    color: #828282;
}
.product-side .price div:last-child {
    display: flex;
    align-items:baseline;
    gap: 6px;
}
.product-side .price div:last-child span:first-child {
    font-size: 32px;
    font-weight: 600;
    color: #465F30;
}
.product-side .price div:last-child span:nth-child(2) {
    font-size: 32px;
    font-weight: 600;
    color: #465F30;
}
.product-side .price div:last-child span:last-child {
    white-space: nowrap;
    font-size: 14px;
    color: black;
}
.product-side .counter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.product-side .counter div:first-child{
    font-size: 16px;
    color: #828282;
}
.product-side .counter .buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.counter-buttons {
    display: flex;
    flex-direction: row;
}
.counter-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px #c3c3c3 solid;
    cursor: pointer;
    font-size: 22px;
}
.counter-buttons button svg {
    fill: #4b4b4b;
}
.counter-buttons button:hover svg {
    fill: #76ba43;
}
.counter-buttons input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 40px;
    background-color: #A8B89C;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
}
.counter-buttons input[type=number]::-webkit-inner-spin-button, 
.counter-buttons input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
  
.product-side .counter .buttons .in_basket {
    background-color: #85AB3A;
    color: white;
    border: none;
    padding: 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 40px;
    font-weight: 500;
    border: 1px #fff solid;
}
.product-side .counter .buttons .in_basket-active {
    color: black;
    border: 1px black solid;
    background-color: #fff;
}
.product-side .counter .buttons .in_basket:hover {
    background-color: #fff;
    color: #85AB3A;
    border: 1px #85AB3A solid;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.option {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.option-name {
    font-size: 16px;
    color: #828282;
}
.option-vars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.option-var {
    padding: 10px 14px;
    border: 1px black solid;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.option-var-active {
    background-color: #85AB3A;
    color: white;
    border: 1px #85AB3A solid;
}
.option-var:hover {
    background-color: #85AB3A;
    color: white;
    border: 1px #85AB3A solid;
}


.product-side .des {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 24px;
}
.product-side .des div:first-child {
    font-size: 16px;
    color: #828282;
}
.product-side .des div:last-child {
    font-size: 16px;
    font-weight: 400;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reviews-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-header div:first-child {
    color: #465F30;
    font-size: 18px;
    font-weight: 600;
}
.reviews-header div:last-child {
    color: #828282;
    cursor: pointer;
}
.reviews-header div:last-child:hover {
    color: #465F30;
    cursor: pointer;
}

.reviews-list {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: start;
    flex-wrap: wrap;
}
.review {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    gap: 16px;
    box-sizing: border-box;
}
.review-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-user-data {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.review-user-data-name-date {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.review-user-data-name {
    font-size: 14px;
    font-weight: 500;
}
.review-user-data-date {
    font-size: 12px;
    color: #828282;
}
.review-text {
    width: 100%;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
    
    transition: all 1s ease;
}
.show-more {
    color: #828282;
    font-size: 12px;
    cursor: pointer;
}
.review-text-show {
    white-space: normal !important;
}



.characteristics-title {
    color: #465F30;
    font-size: 18px;
    font-weight: 600;
}
.characteristics {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: #828282;
    font-size: 16px;
    
}
.characteristic {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.characteristic .text {
    background-color: #F1F1F1;
    font-size: 14px;
    z-index: 2;
}
.characteristic .text:last-child  {
    text-align: end;
}
.characteristic .dotted {
    cursor: default;
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 2px #828282 dotted;
    z-index: 1;
}

.download-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    padding: 12px 16px;
    border: 1px #465F30 solid;
    color: #465F30;
    font-weight: 500;
    cursor: pointer;
} 
.download-reviews:hover {
    background-color: #fff;
}
/* utilities */
.help-text {
    color: #4b4b4b;
}


body {
    position: relative;
}
.write-review-wrapper {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0000007f;
    z-index: 100;
}
.write-review-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 48px;
    gap: 18px;
    width: 50%;
    background-color: #fff;
}
.write-review-form input {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 16px;
    width: 100%;
    border: 0;
    font-size: 14px;
    color: black;
    border: 1px #00000031 solid;
}
.write-review-form textarea {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 16px;
    width: 100%;
    border: 0;
    font-size: 14px;
    color: black;
    border: 1px #00000031 solid;
    resize: none;
}
.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
#photos {
    display: none;
}
.photos-label {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #6fa047;
    cursor: pointer;
}
.photos-and-stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.write-rate-for-review {
    display: flex;
    align-items: center;
    gap: 8px;
}
.write-rate-for-review span {
    color: #7c7c7c;
}
.stars {
    display: flex;
    align-items: center;
    gap: 4px;
}
.stars div {
    width: 30px;
    height: 30px;
}
.stars div svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: #7c7c7c;
}

.write-review-form button {
    
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 600;
    background-color: #465F30;
    color: white;
    border: none;
    cursor: pointer;
}
.write-review-form button:hover {
    background-color: #85AB3A;
    color: white;
}
#added_photos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#added_photos img {
    width: 20%;
}


/* BASKET  */


.wrapper-basket {
    padding-top: 60px;
}
.section-basket {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-basket .title {
    font-size: 32px;
    color: #465F30;
    font-weight: 400;
}
.basket-list {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
}
.item-in-basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    width: 100%;
    height: 168px;
    background-color: #fff;
    box-sizing: border-box;
}

.item-image {
    position: relative;
    width: 14%;
    height: 100%;
    padding-right: 16px;
}
.item-image-discount {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #F5E21C;
    padding: 4px 8px;
    z-index: 2;
}
.item-image-discount-red {
    background-color: #ff0000;
}
.item-image img {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
}
.item-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-width: 130px;
    gap: 12px;
}
.product-name {
    text-align: center;
}
.item-label {
    text-align: center;
    font-size: 12px;
    color: #828282;
}
.item-value {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    color: black;
}




.contact-basket-form {
    box-sizing: border-box;
    display: flex;
    padding: 24px 48px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    background-color: #fff;
    width: 100%;
}
.contact-basket-form .titles {
    padding: 24px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contact-basket-form .titles div:first-child {
    font-size: 20px;
    font-weight: 600;
    color: #465F30;
}
.contact-basket-form .titles div:last-child span:first-child {
    color: #465F30;
}
.contact-basket-form h3 {
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.contact-basket-form input {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 16px;
    background-color: #a8b89c35;
    width: 100%;
    border: 0;
    font-size: 14px;
    color: black;
}

.contact-basket-form button {
    
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 600;
    background-color: #465F30;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-basket-form button:hover {
    background-color: #85AB3A;
    color: white;
}

@media (max-width: 900px) {
    .photos-and-stars {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }
    .product-sides:first-child {
        flex-wrap: wrap;
    }
    .product-sides:first-child .product-side:first-child {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .product-sides:first-child .product-side:last-child {
        width: 100%;
    }
    .product-sides:first-child .product-side:last-child .prices {
        flex-direction: row;
    }
    .product-sides:last-child {
        flex-wrap: wrap-reverse;
    }
    .product-sides:last-child .product-side:first-child {
        width: 100%;
    }
    .product-sides:last-child .product-side:last-child {
        width: 100%;
    }
    .prices {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .other-images {
        align-items: center;
        justify-content: center;
    }
    .other-images img {
        width: 25%;
        height: 20vh;
        object-fit: contain;
    }
    .item-in-basket {
        flex-wrap: wrap;
        height: 100%;
    }
    .item-column {
        align-items: center;
        justify-content: flex-start;
    }
    
    .categories {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-auto-rows: 215px;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .categories-card {
        width: 160px;
        height: 215px;
    }
    .categories-card .name {
        font-size: 12px;
    }
    .categories-card .img  {
        width: 160px;
        height: 160px;
    }
    .categories-card .img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .categories-card .name hr {
        display: none;
    }

}
@media (max-width: 680px) {
    .product-sides:first-child .product-side:first-child {
        flex-direction: column;
    }
    .main-image {
        width: 100%;
        height: 40vh;
    }
    .other-images img {
        width: 20%;
        height: 10vh;
    }
    .section-backto {
        padding: 12px 0;
    }
}
@media (max-width: 620px) {
    .item-in-basket {
        flex-direction: column;
        gap: 18px;
        padding: 0 8px;
    }
    .item-image {
        padding-right: 0;
        width: 100%;
        height: 100%;
    }
    .item-column {
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .item-column:first-child {
        flex-direction: column;
    }
    .item-column:last-child {
        padding-bottom: 16px;
    }
    .contact-basket-form {
        padding: 12px 16px;
    }
    .contact-basket-form .titles {
        flex-direction: column;
        gap: 12px;
    }
}