{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'main/css/sections/numbers.css' %}">
<link rel="stylesheet" href="{% static 'main/css/sections/hits.css' %}">
<link rel="stylesheet" href="{% static 'main/css/sections/contact_us.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %} 

{% block content %}

{% include 'sections/consultation.html' %}

<!-- КАТЕГОРИИ НА ГЛАВНОЙ СТРАНИЦЕ  -->
<div class="wrapper wrapper-index-cat">
    <div class="section section-index-cat">
        <div class="index-cat-text">
            <div class="index-cat-text-title">
                КАТЕГОРИИ
            </div>
            <a href="/shop">
                Смотреть все
            </a>
        </div>
        <hr class="arma-hr">
        <div class="index-cat">
            {% for category in categories %}
            <a href="shop/categories/{{ category.slug }}" class="index-cat-card">
                <div class="img">
                    <img src="{{ category.img.url }}" alt="">
                </div>
                <div class="name">
                    <p>
                        {{ category.name }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="index-cat-text-mobile mobile">
            <a href="/shop">
                Смотреть все
            </a>
        </div>
    </div>
</div>

{% include 'sections/hits.html' %}

<!-- ПОЧЕМУ ИМЕННО МЫ -->
<div class="wrapper wrapper-whywe">
    <div class="section section-whywe">
        <div class="whywe">
            <a href="/about" class="whywe-card">
                <div class="img">
                    <p>Почему<br>выбирают<br>нас?</p>
                </div>
                <div class="text">
                    ПОДРОБНЕЕ О НАС
                </div>
            </a>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/2.png" alt="">
                <h2 class="text">
                    Собственное производство в Москве
                </h2>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/3.png" alt="">
                <h2 class="text">
                    Высокотехнологичное оборудование
                </h2>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/4.png" alt="">
                <h2 class="text">
                    Профессиональные специалисты высокого класса
                </h2>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/5.png" alt="">
                <h2 class="text">
                    Быстрая доставка по всей России и стран СНГ
                </h2>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/6.png" alt="">
                <h2 class="text">
                    Выгодные скидки при оптовых закупках
                </h2>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        speed: 500,
        effect: 'slide',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>
{% endblock %}
 