{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'main/css/sections/numbers.css' %}">
<link rel="stylesheet" href="{% static 'main/css/sections/hits.css' %}">
<link rel="stylesheet" href="{% static 'main/css/sections/contact_us.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %} 

{% block content %}
<div class="wrapper wrapper-hello">
    <div class="section section-hello">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for slide in slides %}
              <div class="swiper-slide hello-slider">
                <img class="hello-slider-image-desktop " src="{{ slide.desktop_img.url }}" alt="">
                <img class="hello-slider-image-mobile hello-slider-image-inactive" src="{{ slide.mobile_img.url }}" alt="">
                <div class="hello-slider-buttons">
                    {% if slide.button1 %}
                    <a class="hello-slider-button" href="{{ slide.button1_url }}">{{ slide.button1_text }}</a>
                    {% endif %}
                    {% if slide.button2 %}
                    <a class="hello-slider-button" href="{{ slide.button2_url }}">{{ slide.button2_text }}</a>
                    {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
    </div>
</div>


<!-- КАТЕГОРИИ НА ГЛАВНОЙ СТРАНИЦЕ  -->
<div class="wrapper wrapper-index-cat">
    <div class="section section-index-cat">
        <div class="index-cat-text">
            <div class="index-cat-text-title">
                КАТЕГОРИИ
            </div>
            <a href="/shop">
                Смотреть все
            </a>
        </div>
        <hr class="arma-hr">
        <div class="index-cat">
            {% for category in categories %}
            <a href="shop/categories/{{ category.id }}" class="index-cat-card">
                <div class="img">
                    <img src="{{ category.img.url }}" alt="">
                </div>
                <div class="name">
                    <div>
                        {{ category.name }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="index-cat-text-mobile mobile">
            <a href="/shop">
                Смотреть все
            </a>
        </div>
    </div>
</div>



<!-- ПОЧЕМУ ИМЕННО МЫ -->
<div class="wrapper wrapper-whywe">
    <div class="section section-whywe">
        <div class="whywe">
            <a href="/about" class="whywe-card">
                <img src="../../static/main/media/whywe/1.png" alt="">
                <div class="text">
                    ПОДРОБНЕЕ О НАС
                </div>
            </a>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/2.png" alt="">
                <div class="text">
                    Собственное производство в Москве 
                </div>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/3.png" alt="">
                <div class="text">
                    Высокотехнологичное оборудование
                </div>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/4.png" alt="">
                <div class="text">
                    Профессиональные специалисты высокого класса
                </div>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/5.png" alt="">
                <div class="text">
                    Быстрая доставка по всей России и стран СНГ
                </div>
            </div>
            <div class="whywe-card">
                <img src="../../static/main/media/whywe/6.png" alt="">
                <div class="text">
                    Выгодные скидки при оптовых закупках 
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'sections/numbers.html' %}
{% include 'sections/hits.html' %}
{% include 'sections/contact_us.html' %}

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        speed: 500,
        effect: 'slide',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>
{% endblock %}
 