{% extends 'base.html' %}

{% load static %}
{% load filters %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}

<div class="wrapper wrapper-basket">
    <div class="section section-basket">
        {% if request.products_in_basket %}
        <div class="title">КОРЗИНА</div>
        {% else %}
        <div class="title" style="padding: 120px 0;">КОРЗИНА ПУСТА</div>
        {% endif %}
        {% if request.products_in_basket %}
        <hr class="arma-hr">
        <div class="basket-list">
            {% for item in request.products_in_basket %}
                <div class="item-in-basket {% if item.product.retail_price == 0 %}null-price{%endif%}" product-id="{{ item.product.id }}" product-discount="{{ item.product.discount }}" product-wholesale-count="{{ item.product.wholesale_count }}">
                    <div class="item-image">
                        {% if item.product.discount != 0 %}
                        <div class="item-image-discount {% if item.product.discount >= 50 %}item-image-discount-red{% endif %}">- {{ item.product.discount }}%</div>
                        {% endif %}
                        <img src="{{ item.product.img.url }}" alt="">
                    </div>
                    <div class="item-column">
                        <div class="item-label">Наименование</div>
                        <a class="item-value product-name" href="/shop/products/{{ item.product.slug }}">{{ item.product.name }}</a>
                    </div>
                    <div class="item-column prices-mobile">
                        {% if item.product.retail_price > 0 %}
                        <div class="item-label">Цена мелкий опт</div>
                        <div class="item-value"><span class="wholesale-price">{{ item.product.wholesale_price }}</span><span> ₽</span></div>
                        <!-- <div class="item-label">(При кол-ве товара от {{ item.product.wholesale_count }} шт.)</div> -->
                        <div class="item-label">Розничная цена</div>
                        <div class="item-value"><span class="retail-price">{{ item.product.retail_price }}</span><span> ₽</span></div>
                        {% else %}
                            <div class="item-label">Цена</div>
                            <div class="item-value"><span class="wholesale-price">Договорная</span><span></span></div>
                        {% endif %}
                    </div>
                    <!-- <div class="item-column">
                        <div class="item-label"></div>
                        <div class="item-value"><span class="retail-price">{{ item.product.retail_price }}</span><span> ₽</span></div>
                    </div> -->
                    <div class="item-column">
                        {% if item.product|product_has_options %}
                        <div class="item-label">{{ item.product|get_product_first_option_name }}</div>
                        <div class="option-vars">
                            {% for option in item.product|get_product_options %}
                            <button class="option-var {% if item.product|get_product_option_id:request.products_in_basket == option.id %}option-var-active{% endif %}" wholesale-price="{{ option.wholesale_price }}" retail-price="{{ option.retail_price }}" option-id="{{ option.id }}">
                                {{ option.value }}
                            </button>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="item-label product-dont-have-options">Опции</div>
                        <div class="item-value product-name">У данного товара нет опций</div>
                        {% endif %}
                    </div>
                    <div class="item-column">
                        
                        <div class="item-label">Итого</div>
                        <div class="item-value">
                            {% if item.product.retail_price > 0 %}
                            <span class="summ-price">0</span><span> ₽</span>
                            {% else %}
                            <span class="summ-price">Договорная</span><span></span>
                            {% endif %}
                        </div>
                        <div class="counter-buttons">
                            <button class="dec"><svg width="37" height="38" viewBox="0 0 37 38" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 17H25V21H11V17Z"/>
                                </svg>
                            </button>
                            <input class="number inp" type="number" name="value" id="product-count" value="{{ item.count }}" min="0" product-id="{{ item.product.id }}" min-unit="{{ item.product.min_unit }}">
                            <button class="inc"><svg width="37" height="38" viewBox="0 0 37 38" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28 20.8265H19.875V29H16.125V20.8265H8V17.2192H16.125V9H19.875V17.2192H28V20.8265Z"/>
                                </svg></button>
                        </div>
                        {% if item.product.retail_price > 0 %}
                        <div class="item-label wholesale-price-not-dooo">Еще <span class="wholesale-price-not-dooo-count"></span> {{ item.product.unit }} и цена будет оптовой</div>
                        <div class="item-label wholesale-price-dooo">Цена мелкий опт действует!</div>
                        {% else %}
                        <div class="item-label wholesale-price-not-dooo">Данный товар не влияет на общую сумму корзины</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="full-price-section">
            <div>
                <span>Общая стоимость: </span>
                <span style="font-size: 18px; white-space: nowrap;">
                    <span id="all-summ-price">0</span>
                    ₽
                </span>
            </div>
        </div>
        <div class="contact-basket-form-section">
            <form class="contact-basket-form" action="{% url 'basket_is_ready' %}" method="post" onsubmit="ym(94231080,'reachGoal','createOrder'); return true;">
                {% csrf_token %}
                <input type="hidden" name="utm_source" id="utm_source">
                <input type="hidden" name="utm_medium" id="utm_medium">
                <input type="hidden" name="utm_campaign" id="utm_campaign">
                <input type="hidden" name="utm_content" id="utm_content">
                <input type="hidden" name="utm_term" id="utm_term">
                <div class="titles">
                    <div>Менеджер быстро перезвонит, оформит заказ и выставит счет</div>
                </div>
                <input type="hidden" name="successful_basket_summ" id="successful_basket_summ" value=0"">
                <input class="form-phone" id="contacts" type="text" name="contacts" placeholder="+7 (___) ___-__-__" required>
                <button type="submit" name="" id="">ОФОРМИТЬ ЗАКАЗ</button>
                <p class="OPD"><input type="checkbox" class="OPD__input" id="OPD_hello" checked required><label for="OPD_hello">Я согласен(-на) c <a href="/polzovatelskoe_soglashenie">пользовательским соглашением</a></label></p>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<script src="{% static 'shop/js/site_counters_listener.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        var products = document.querySelectorAll(".item-in-basket")
        for(let i = 0; i < products.length; i++) {
            let product = products[i]
            if (product.querySelector(".product-dont-have-options") == null) {
                let null_price = 0 
                if (product.classList.contains("null-price")) {
                    null_price = 1
                }
                option_vars = product.querySelectorAll(".option-var")
                if (product.querySelector(".option-var-active") != null) {
                    if (null_price == 0) {
                        product.querySelector(".wholesale-price").innerHTML = option_vars[0].getAttribute("wholesale-price")
                        product.querySelector(".retail-price").innerHTML = option_vars[0].getAttribute("retail-price")
                    }
                }
                for (let j = 0; j < option_vars.length; j++) {
                    option_vars[j].addEventListener("click", (e) => {
                        if (null_price == 0) {
                            product.querySelector(".wholesale-price").innerHTML = option_vars[j].getAttribute("wholesale-price")
                            product.querySelector(".retail-price").innerHTML = option_vars[j].getAttribute("retail-price")
                        }
                        product.querySelector(".option-var-active").classList.remove("option-var-active")
                        e.target.classList.add("option-var-active")
                        updateProductAxios(product.getAttribute("product-id"), product.querySelector(".number").value, product.querySelector(".option-var-active").getAttribute("option-id"))
                        calculateTable()
                    })
                }
            }
        }

        calculateTable(true);

        const incBtns = document.querySelectorAll('.inc');
        const decBtns = document.querySelectorAll('.dec');
        const inputs = document.querySelectorAll('.inp');

        incBtns.forEach(btn => {
        btn.addEventListener('click', e => {
            let elem = e.target.parentNode.parentNode.parentNode.querySelector("#product-count")
            let count = elem.value
            let p_id = elem.getAttribute("product-id")
            updateProductAxios(p_id, count)
            calculateTable()
        });
        });

        decBtns.forEach(btn => {
        btn.addEventListener('click', e => {
            let elem = e.target.parentNode.parentNode.parentNode.querySelector("#product-count")
            let count = elem.value
            let p_id = elem.getAttribute("product-id")
            updateProductAxios(p_id, count)
            calculateTable()
        });
        });

        inputs.forEach(btn => {
        btn.addEventListener('change', e => {
            let elem = e.target.parentNode.parentNode.parentNode.querySelector("#product-count")
            let count = elem.value
            let p_id = elem.getAttribute("product-id")
            updateProductAxios(p_id, count)
            calculateTable()
        });
        });


    })
    function updateProductAxios(pid, count, option_id=null) {
        let data = new FormData()
        data.append("product_id", pid)
        data.append("count", count)
        if (option_id != null) {
            data.append("option_id", option_id)
        }
        axios.post("/shop/update_in_basket", data)
        .then(result => {
            if (result['data']['status'] == 'updated') {
                console.log("обновлен")
            } else {
                console.log("не обновлен")
            }
        })
        .catch(error => {
            console.log("error")
        })
    }
    function deleteProductAxios(elem, pid) {
        let data = new FormData()
        data.append("product_id", pid) 
        axios.post("/shop/delete_in_basket", data)
        .then(result => {
            if (result['data']['status'] == 'deleted') {
                console.log("удален")
                elem.remove();
            } else {
                onsole.log("не удален")
            }
        })
        .catch(error => {
            console.log("error")
        })
    }
    function deleteProduct(elem, pid) {
        var result = confirm("Вы уверены, что хотите удалить этот товар из корзины?");
        if (result) {
            deleteProductAxios(elem, pid)
            return true;
        } else {
            return false;
        }
    }
    function calculateTable(initial=false) {
        var summ = 0
        var products = document.querySelectorAll(".item-in-basket")
        for(let i = 0; i < products.length; i++) {
            let product = products[i]
            if (!product.classList.contains("null-price")) {
                let id = product.getAttribute("product-id")
                let product_wholesale_count = product.getAttribute("product-wholesale-count")
                let price1 = product.querySelector(".wholesale-price").innerHTML
                let price2 = product.querySelector(".retail-price").innerHTML
                count = product.querySelector(".number").value
                if (count < 1) {
                    res = deleteProduct(product, id)
                    // if (!res) {
                    //     product.querySelector(".number").value = 1;
                    //     count = 1;
                    // }
                }
                if (parseInt(count) < parseInt(product_wholesale_count)) {
                    product.querySelector(".summ-price").innerHTML = count * price2
                    product.querySelector(".wholesale-price-not-dooo-count").innerHTML = product_wholesale_count - count
                    product.querySelector(".wholesale-price-not-dooo").style.display = "block"
                    product.querySelector(".wholesale-price-dooo").style.display = "none"
                } else {
                    product.querySelector(".summ-price").innerHTML = count * price1
                    product.querySelector(".wholesale-price-not-dooo").style.display = "None"
                    product.querySelector(".wholesale-price-dooo").style.display = "block"
                    
                    // - (count * price1 * (parseInt(product.getAttribute("product-discount"))/100))
                }
                summ += parseInt(product.querySelector(".summ-price").innerHTML)
            }
        };
        document.getElementById("all-summ-price").innerHTML = summ
        document.getElementById("successful_basket_summ").value = summ
    }
</script>
{% endblock %}