{% extends 'base.html' %}

{% load static %}
{% load filters %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper wrapper-backto">
    <div class="section section-backto">
        <a href="/shop" class="backto">
            <p>К категориям</p>
            <div>
                <img src="{% static 'right_arrow.svg' %}" alt="">
            </div>
        </a>
    </div>
</div>


<div class="wrapper wrapper-category">
    <div class="section section-category">
        <div class="category-text">
            <div class="category-text-title">
                {{ category.name }}
            </div>
        </div>
        <hr class="arma-hr">
        <div class="category">
            {% for product in products %}
                <div class="product-card">
                    <img class="product-card-image" src="{{ product.img.url }}" alt="">
                    {% if product.discount != 0 %}
                        <div class="product-card-discount {% if product.discount >= 50 %}product-card-discount-red{% endif %}">
                            <span>- {{ product.discount }}%</span>
                        </div>
                    {% endif %}
                    {% if product.new %}
                        <div class="product-card-new">
                            <span>НОВИНКА</span>
                        </div>
                    {% endif %}
                    <span class="product-card-title">{{ product.name }}</span>
                    <div class="product-card-price-row">
                        <div class="product-card-price">
                            <span>{{ product.retail_price }} ₽</span>
                            <span>за 1 шт</span>
                        </div>
                        {% if product.discount != 0 %}
                        <span class="product-card-old-price">
                            {{ product.old_price }} ₽
                        </span>
                        {% endif %}
                    </div> 
                    <div class="product-card-buttons-row">
                        <a href="/shop/products/{{ product.id }}" class="product-card-buttons-about">Подробнее</a>
                        <button class="product-card-buttons-in-basket put_in_basket-category-page {% if product|queryset_have_this_product:products_in_basket %}product-card-buttons-in-basket-active{% endif %}" product-id="{{ product.id }}">
                            {% if product|queryset_have_this_product:products_in_basket %}
                            В корзине
                            {% else %}
                            В корзину
                            {% endif %}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        console.log("downloaded")
    </script>
</div>

{% endblock %}