{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="notfound" style="height: 500px; color: black; display: flex; align-self: center; justify-content: center; flex-direction: column;">
            <div class="notfound-text" style="font-size: 24px;">Страница не найдена</div>
        </div>
    </div>
</div>
{% endblock %}