{% extends 'base.html' %}

{% load static %}
{% block css_link %} 
<link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="section">
        <div class="products">
            <div class="products-title">
                {% if founded %}
                Вот что нашлось по вашему запросу "{{query}}"
                {% else %}
                К сожалению по запросу "{{query}}" ничего не нашлось, попробуйте ввести другой запрос
                {% endif %}
            </div>
            <div class="cards">
                {% for product in products %}
                <div class="card">
                    <img src="{{ product.img.url }}" alt="Ошибка загрузки изображения">
                    <div class="name">{{ product.name }}</div>
                    <div class="prices">
                        <div class="oldprice">{{ product.old_price }} р.</div>
                        <div class="price">
                            <div class="number">
                                {{ product.wholesale_price }} р.
                            </div>
                            <div class="text">
                                /шт
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="/shop/products?product={{ product.id }}" class="more">
                            Подробнее
                        </a>
                        <div class="in-basket">
                            В корзину
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}