<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    {% block title %}
    <title>Арма72 | Производитель тактического снаряжения в России</title>
    {% endblock %}
    {% block description %}
    <meta name="description" content='Российский производитель тактического снаряжения. Пошив военной одежды, спальных мешков, маскировочных сетей. Фабрика "Арма72" с производством в Москве. Продажа военных товаров оптом и в розницу.''>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% load static %}
    <!-- Светлая тема -->
    <link rel="icon" type="image/png" href="{% static '/favicon_black/favicon-16x16.png' %}" sizes="16x16" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{% static '/favicon_black/favicon-32x32.png' %}" sizes="32x32" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{% static '/favicon_black/android-chrome-192x192.png' %}" sizes="192x192" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{% static '/favicon_black/android-chrome-512x512.png' %}" sizes="512x512" media="(prefers-color-scheme: light)">
    <link rel="apple-touch-icon" href="{% static '/favicon_black/apple-touch-icon.png' %}" media="(prefers-color-scheme: light)">
    <link rel="manifest" href="{% static '/favicon_black/site.webmanifest" media="(prefers-color-scheme: light)' %}">

    <!-- Тёмная тема -->
    <link rel="icon" type="image/png" href="{% static '/favicon_white/favicon-16x16.png' %}" sizes="16x16" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" href="{% static '/favicon_white/favicon-32x32.png' %}" sizes="32x32" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" href="{% static '/favicon_white/android-chrome-192x192.png' %}" sizes="192x192" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" href="{% static '/favicon_white/android-chrome-512x512.png' %}" sizes="512x512" media="(prefers-color-scheme: dark)">
    <link rel="apple-touch-icon" href="{% static '/favicon_white/apple-touch-icon.png' %}" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="{% static '/favicon_white/site.webmanifest" media="(prefers-color-scheme: dark)' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/widgets/chat.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/widgets/whatsapp.css' %}">
    {% block css_link %} {% endblock %}
    <!-- Google ReCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
    <!-- /Google ReCaptcha -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
        ym(94231080, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94231080" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>
    <div class="cookies-accept-notify" style="display: {% if request.cookies_middleware.setted %}flex{% else %}none{% endif %}">
        <p>Данный сайт использует куки для вашего комфорта и удобства.</p>
        <button id="cookies-accept-button">
            <p>Хорошо</p>
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 9.01273C9.32843 9.01273 10 8.34116 10 7.51273C10 6.6843 9.32843 6.01273 8.5 6.01273C7.67157 6.01273 7 6.6843 7 7.51273C7 8.34116 7.67157 9.01273 8.5 9.01273Z" />
                <path d="M6.5 14.0127C7.32843 14.0127 8 13.3412 8 12.5127C8 11.6843 7.32843 11.0127 6.5 11.0127C5.67157 11.0127 5 11.6843 5 12.5127C5 13.3412 5.67157 14.0127 6.5 14.0127Z" />
                <path d="M13 15.0127C13.5523 15.0127 14 14.565 14 14.0127C14 13.4604 13.5523 13.0127 13 13.0127C12.4477 13.0127 12 13.4604 12 14.0127C12 14.565 12.4477 15.0127 13 15.0127Z" />
                <path d="M19.95 10.0027C18.16 9.97273 16.25 8.05273 17.27 5.78273C14.3 6.78273 11.49 4.19273 12.08 1.22273C5.11 -0.247268 0 5.42273 0 11.0127C0 16.5327 4.48 21.0127 10 21.0127C15.89 21.0127 20.54 15.9327 19.95 10.0027ZM10 19.0127C5.59 19.0127 2 15.4227 2 11.0127C2 7.70273 4.73 2.83273 10.08 2.99273C10.5 5.53273 12.52 7.55273 15.07 7.93273C15.14 8.29273 15.59 10.4827 17.99 11.5627C17.7 15.8727 14.06 19.0127 10 19.0127Z" />
            </svg>
        </button>
    </div>
    <div id="search-wrapper">
        <div class="search-inner">
            <div class="search-input-container">
                <input id="search-input" type="text" placeholder="Начните вводить название товара..." id="search-input">
                <button id="search-button">
                    <svg viewBox="0 0 31 30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9438 17.8188H18.9563L18.6063 17.4813C19.8313 16.0563 20.5688 14.2063 20.5688 12.1938C20.5688 7.70626 16.9313 4.06876 12.4438 4.06876C7.95626 4.06876 4.31876 7.70626 4.31876 12.1938C4.31876 16.6813 7.95626 20.3188 12.4438 20.3188C14.4563 20.3188 16.3063 19.5813 17.7313 18.3563L18.0688 18.7063V19.6938L24.3188 25.9313L26.1813 24.0688L19.9438 17.8188ZM12.4438 17.8188C9.33126 17.8188 6.81876 15.3063 6.81876 12.1938C6.81876 9.08126 9.33126 6.56876 12.4438 6.56876C15.5563 6.56876 18.0688 9.08126 18.0688 12.1938C18.0688 15.3063 15.5563 17.8188 12.4438 17.8188Z" />
                    </svg>
                </button>
            </div>
            <hr class="search-inner-hr">
            <div class="search-variants-container">
                <div id="variants-container-empty" class="variants-container-active">
                    <span>Здесь будут предложенные товары</span>
                </div>
                <div id="variants-container-list">
                    <a class="search-variant-item" href="#">
                        <div class="image"><img src="https://arma72.com/media/products/SxNkMKEEldY.jpg" alt=""></div>
                        <div class="text">
                            <div class="name">
                                Влагостойкий рюкзак для активного отдыха 10л. Some text
                            </div>
                            <div class="info">
                                Шикарного качества, скрытые молнии, качественная фурнитура.
Шеврон в комплект поставки не входит.
                            </div>
                        </div>
                    </a>
                    <a class="search-variant-item" href="#">
                        <div class="image"><img src="https://arma72.com/media/products/photo_2023-10-04_12-50-24.jpg" alt=""></div>
                        <div class="text">
                            <div class="name">
                                Влагостойкий рюкзак для активного отдыха 10л
                            </div>
                            <div class="info">
                                Шикарного качества, скрытые молнии, качественная фурнитура.
Шеврон в комплект поставки не входит.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-consultation__wrapper">
        <form class="header-consultation-form" action="{% url 'consultation' %}" method="post">
            {% csrf_token %}
            <svg class="header-consultation-form_close" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.25 11.2175L30.7825 8.75L21 18.5325L11.2175 8.75L8.75 11.2175L18.5325 21L8.75 30.7825L11.2175 33.25L21 23.4675L30.7825 33.25L33.25 30.7825L23.4675 21L33.25 11.2175Z" />
            </svg> 
            <h3>Специалист быстро перезвонит, подробно проконсультирует и ответит на все вопросы</h3>
            <input type="tel" id="index-form-phone" name="phone"  placeholder="Укажите свой номер телефона" required>
            <p class="OPD"><input type="checkbox" class="OPD__input" id="OPD_hello" required><label for="OPD_hello">Я прочитал(-а) и принимаю <a href="/polzovatelskoe_soglashenie">пользовательское соглашение</a> с конечным пользователем</label></p>
            <!-- pattern="((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}" -->
            <button type="submit"  onclick="ym(94231080,'reachGoal','consul'); return true;">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</button>
            <!-- <p class="help-text">Специалист быстро перезвонит, подробно проконсультирует и ответит на все вопросы</p> -->
        </form>
    </div>
    {% comment %}
    {% include 'widgets/chat.html' %}
    {% endcomment %}
    {% include 'widgets/whatsapp.html' %}

    {% include 'blocks/header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'blocks/footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha512-HaoDYc3PGduguBWOSToNc0AWGHBi2Y432Ssp3wNIdlOzrunCtB2qq6FrhtPbo+PlbvRbyi86dr5VQx61eg/daQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function submitForm(event) {
            console.log('RECAPTCHA')
            event.preventDefault(); // Предотвращаем отправку формы сразу
            const form = event.target;

            grecaptcha.ready(function() {
                grecaptcha.execute('{{ RECAPTCHA_PUBLIC_KEY }}', {action: 'submit'}).then(function(token) {
                    let recaptchaInput = form.querySelector('input[name="g-recaptcha-response"]');
                    if (!recaptchaInput) {
                        recaptchaInput = document.createElement('input');
                        recaptchaInput.setAttribute('type', 'hidden');
                        recaptchaInput.setAttribute('name', 'g-recaptcha-response');
                        form.appendChild(recaptchaInput);
                    }
                    recaptchaInput.value = token;
                    form.submit();
                });
            });
        }
        document.addEventListener("DOMContentLoaded", () => {
            const forms = document.querySelectorAll("form:not(.DontRequiredReCaptchaCheck)");
            forms.forEach(function(form) {
                form.addEventListener("submit", submitForm);
            });
            document.querySelector("#cookies-accept-button").addEventListener("click", (e) => {
                document.querySelector(".cookies-accept-notify").style.display = "none"
            })
        })
        window.SmoothScroll({
            animationTime    : 1000, // [ms]
            stepSize         : 50, // [px]
            accelerationDelta : 50,  // 50
            accelerationMax   : 3,   // 3
            keyboardSupport   : true,  // option
            arrowScroll       : 50,    // [px]
            pulseAlgorithm   : true,
            pulseScale       : 8,
            pulseNormalize   : 1,
            touchpadSupport   : true, // ignore touchpad by default
            fixedBackground   : true, 
            excluded          : ''    
        })
        document.querySelector("#search-header-button").addEventListener("click", (e) => {
            let recs = document.querySelector("#search-wrapper")
            recs.classList.add("search-wrapper-active")
            document.querySelector("body").classList.add("body-not-scroll")
        })
        document.querySelector("#search-wrapper").addEventListener("click", (e) => {
            if (e.target === document.querySelector("#search-wrapper")) {
                let recs = document.querySelector("#search-wrapper")
                recs.classList.remove("search-wrapper-active")
                document.querySelector("body").classList.remove("body-not-scroll")
            }
        })
        document.querySelector("#search-input").addEventListener("input", (e) => {
            let variants = document.querySelector("#variants-container-list")
            let input = document.querySelector("#search-input")
            let empty_container = document.querySelector("#variants-container-empty")
            let variants_container = document.querySelector("#variants-container-list")
            variants.innerHTML = ''
            if (input.value.length >= 2) {
                let data = new FormData()
                data.append("query", input.value)
                axios.post("{% url 'search_variants' %}", data)
                .then(result => {
                    if (result["data"]["products"].length !== 0) {
                        variants_container.classList.add("variants-container-active")
                        empty_container.classList.remove("variants-container-active")
                        for (let p = 0; p < result["data"]["products"].length; p++) {
                            console.log(result["data"]["products"][p])
                            // Создаем новый элемент
                            const newVariant = document.createElement("a");
                            newVariant.classList.add("search-variant-item");
                            newVariant.href = "/shop/products/"+result["data"]["products"][p]["slug"];

                            // Создаем изображение
                            const imageDiv = document.createElement("div");
                            imageDiv.classList.add("image");

                            const img = document.createElement("img");
                            img.src = result["data"]["products"][p]["img"]; // Укажите новую картинку
                            img.alt = "img";
                            imageDiv.appendChild(img);

                            // Создаем текстовый блок
                            const textDiv = document.createElement("div");
                            textDiv.classList.add("text");

                            const nameDiv = document.createElement("div");
                            nameDiv.classList.add("name");
                            nameDiv.textContent = result["data"]["products"][p]["name"];

                            const infoDiv = document.createElement("div");
                            infoDiv.classList.add("info");
                            infoDiv.textContent = result["data"]["products"][p]["des"];

                            // Добавляем текст в контейнер
                            textDiv.appendChild(nameDiv);
                            textDiv.appendChild(infoDiv);

                            // Собираем финальный элемент
                            newVariant.appendChild(imageDiv);
                            newVariant.appendChild(textDiv);

                            // Добавляем в контейнер
                            variants_container.appendChild(newVariant);
                        }
                    }
                })
                .catch(error => {
                    console.log(error)
                })
            } else {
                if (variants_container.classList.contains("variants-container-active") === true) {
                    variants_container.classList.remove("variants-container-active")
                    empty_container.classList.add("variants-container-active")
                }
            }
        })
    </script>
    <script src="{% static 'js/basket_counter.js' %}"></script>
    <script src="{% static 'js/header_consultation.js' %}"></script>
    <script src="{% static 'js/productDropdown.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'shop/js/basketManager.js' %}"></script>
{#    <script src="{% static 'js/widgets/whatsapp.js' %}"></script>#}
    <!-- <script src="{% static 'js/widgets/chat.js' %}"></script> -->
</body>
</html>