.wrapper-about {
    padding-top: 60px;
}
.section-about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 82px;
    flex-direction: row;
    padding: 80px 0;
    height: 100%;
}
.section-about .image-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-about .text-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.photo-slider img {
    width: 100%;
}
.section-about .text-side .text p:first-child {
    margin-top: 0;
}
.section-about .text-side .label {
    margin-top: 24px;
    padding: 12px 24px;
    position: relative;
    background-color: #fff;
}
.section-about .text-side .label svg {
    position: absolute;
    right: -20px;
    top: -17px;
}
.section-about .text-side .label h4 {
    font-size: 18px;
    color: #465F30;
    margin: 8px 0;
}
.section-about .text-side .label .col {
    padding: 14px 0;
    display: flex;
    align-items: center;
    flex-wrap:  wrap;
    gap: 24px;
}
.section-about .text-side .label .col p {
    margin: 0;
}


.wrapper-delivery {
    background-image: url("../media/about/delivery-bg.png");
    background-position: 50% 0;
    background-size: cover;
}
.section-delivery {
    position: relative;
}
.delivery {
    position: relative;
    padding: 80px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.delivery h2 {
    color: white;
    font-size: 32px;
}
.delivery button {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    width: 200px;
    z-index: 100;
}
.delivery button:hover {
    background-color: white;
    color: #85AB3A;
}
.section-delivery .side-img {
    position: absolute;
    width: 70%;
    right: 0;
    bottom: 0;
    /* bottom: 50%; */
}




.wrapper-team {
    background-color: #F1F1F1;
}
.section-team {
    padding-left: 10%;
    width: 90%;
}
.team {
    padding: 120px 0;
}
.team-top-side {
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-top-side-right-sidebar {
    display: flex;
    align-items: center;
    gap: 42px;
}
.team-top-title {
    font-size: 34px;
    color: #465F30;
}
.team-see-more {
    font-size: 16px;
    color: #5F774D;
}
.team-see-more:hover {
    color: #85AB3A;
}
.team-product-list {
    overflow-x: scroll;
    padding-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}


.user-card {
    background-color: #fff;
}
.user-card img {
    width: 300px;
}
.user-card .user-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-card .user-data div p {
    margin: 6px;
}
.user-card .user-data div p:first-child {
    font-weight: 500;
    font-size: 22px;
}
.user-card .user-data div {
    margin: 12px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.wrapper-yt-video {
    background: linear-gradient(180deg, #51693D -22.47%, #000000 100%, #000000 100%);
}
.section-yt-video {
    display: flex;
    padding: 80px 0;
    align-items: center;
    justify-content: space-between;
}
.section-yt-video .text-side {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.section-yt-video .text-side p {
    color: white;
    font-weight: 500;
    font-size: 26px;
} 

.side-img-mobile {
    display: none;
}
@media (max-width: 1200px) {
    .section-yt-video .text-side img {
        display: none;
    }
}
@media (max-width: 1100px) {
    .section-yt-video {
        flex-direction: column;
        padding: 40px 0;
    }
    .section-yt-video .text-side p {
        text-align: center;
    }
    .team {
        padding: 60px 0;
    }
}
@media (max-width: 800px) {
    .delivery {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .section-yt-video iframe {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .section-about {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .section-about .image-side {
        width: 100%;
    }
    .section-about .text-side {
        width: 100%;
    }
    .section-about .text-side .label svg {
        right: 10px;
    }
    .delivery h2 {
        text-align: center;
    }
    .delivery button {
        margin-top: 0;
        width: 100%;
    }
    .section-delivery .side-img {
        display: none;
    }
    .side-img-mobile {
        margin-top: 24px;
        display: block;
    }
    .team-top-title {
        font-size: 26px;
    }
}
