.wrapper-hello {
    width: 100%;
    height: 70vh;
    background-color: #000;
    padding-top: 60px 0 0 0;
    background-image: url("../../hello_bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.section-hello {
    width: 100%;
}
.swiper {
    width: 100%;
    height: 70vh;
}
.swiper-slide {
    color: white;
    width: 100%;
    height: 100%;
}
.swiper-button-prev, .swiper-button-next {
    color: #85AB3A;
}
.swiper-pagination span {
    background-color: #85AB3A;
}
.hello-slider {
    position: relative;
}
.hello-slider-image-desktop, .hello-slider-image-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hello-slider-image-mobile {
    display: none;
}
.hello-slider-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    bottom: 8%;
    width: 100%;
}
.hello-slider-button {
    padding: 12px 16px;
}
.hello-slider-button:first-child {
    border: 1px white solid;
}
.hello-slider-button:last-child {
    background-color: #85AB3A;
}


.wrapper-index-cat {
    background-color: #0C0C0C;
}
.section-index-cat {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #0C0C0C;
}
.index-cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.index-cat-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: #465F30;
    font-size: 32px;
}
.index-cat-text a {
    color: #465F30;
    font-size: 16px;
}
.index-cat-text a:hover {
    color: #B4C7A4;
}
.index-cat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.index-cat-card .img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../cat-bg.png");
    width: 260px;
    height: 300px;
}
.index-cat-card .img img {
    width: 100%;
    object-fit: contain;
    /* height: 100%; */
}
.index-cat-card .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: solid #465F30 1px;
    border-top: solid #465F30 1px;
}





.wrapper-whywe {
    background-color: #F1F1F1;
}
.section-whywe {
    margin-top: 10%;
    margin-bottom: 10%;
}
.whywe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.whywe-card {
    background-color: #FFFFFF;
    width: 316px;
}
.whywe-card:first-child {
    cursor: pointer;
    background-color: #465F30;
    color: #fff;
}
.whywe-card img {
    width: 316px;
}
.whywe-card .text {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0px 48px;
}
.whywe-card:first-child .text {
    font-size: 14px;
    font-weight: 600;
    color: #B4C7A4;
}
.whywe-card:first-child:hover .text {
    color: #FFFFFF;
}

.mobile {
    display: none;
}

@media (max-width: 600px) {
    .mobile {
        display: inline;
    }
    .hello-slider-image-mobile {
        display: block;
    }
    .hello-slider-image-desktop {
        display: none;
    }
    .wrapper-hello {
        height: 80vh;
    }
    .swiper {
        height: 80vh;
    }
    .index-cat-text {
        font-size: 24px;
    }
    .index-cat-text a {
        display: none;
    }
    .index-cat-text-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .index-cat-text-mobile a {
        color: #B4C7A4;
    }
}